params {
    input = null
    samplesheet = "${projectDir}/samplesheet.csv"
    outdir = "${launchDir}/results/qc"
}

process {
    executor = "local"

    withName: FASTQC {
        cpus = 1
        memory = "1 GB"
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withName: MULTIQC {
        cpus = 1
        memory = "1 GB"
        container = "quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0"
    }
}

profiles {
    docker {
        docker.enabled = true
    }
}
